<%# eachで配列@articlesを一つずつ取り出す %>
<% @articles.each do |article| %>
  <div class="mt-2 mb-5">
    <h5><%= article.title %></h5>
    <%# strftimeで「Mar 10, 2019」 %>
    <p><%= article.created_at.strftime('%a %d, %Y') %></p>
    <%# truncateメソッドで、最大文字数をlength=100としてbodyを表示 %>
    <p><%= article.body.truncate(100) %></p>
    <%# More detailから詳細画面へ遷移できるようにする %>
    <p><%= link_to 'More detail', article, class: 'text-dark' %></p>
  </div>
<% end %>
<%= link_to '新規論文投稿', new_article_path %>